<div class="ui container">
  <br>
  <h2>Blog Poster</h2>
  <p>
    Description: Simple web application that allows a user to generate new posts which can be either
    modified later or removed from the blog.
  </p>

  {{show-logo}}


  <br><br><br>
</div>