<h1>This is a sample Ember application</h1>
<br>
<br>
<h4>This app provides functionality for:</h4>
<ul>
  <li>Add user posts</li>
  <br>
  <li>Modify one single post</li>
  <br>
  <li>Delete single post</li>
  <br>
  <li>Add user comments on existing posts</li>
  <br>
  <li>Display Contact screen that shows embedded routes</li>
  <br>
  <li>Display About screen that present showing and hiding contents</li>
  <br><br><br>
</ul>

<h4>Extra line to check the sticky class</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nisi, molestie in malesuada id, congue in ligula. Integer viverra porta purus, sit amet interdum quam molestie ac. Sed maximus ac elit vel vehicula. Nam nisl velit, tempus in cursus nec, mollis eu orci. Pellentesque magna purus, vulputate vitae volutpat non, molestie eu turpis. Pellentesque nulla augue, consequat nec dui fermentum, tincidunt ultrices nunc. Nulla facilisi.
</p><p>
  Donec elementum molestie nisi, id facilisis lorem molestie quis. Mauris dui metus, hendrerit in nisl non, convallis aliquet libero. Nullam eget facilisis ex, et faucibus augue. Nullam tristique urna quis faucibus egestas. Nunc vulputate odio non mauris luctus maximus. In hac habitasse platea dictumst. Suspendisse eget erat interdum, sodales arcu id, eleifend massa. Donec sagittis tortor odio, sed scelerisque lacus dapibus sed. Cras imperdiet molestie eros nec sagittis. Suspendisse consectetur nisi ut ipsum fringilla, sit amet lacinia lectus hendrerit. Vivamus lacinia nisi non imperdiet lobortis. Phasellus turpis augue, tincidunt a velit id, rhoncus aliquam velit. Mauris imperdiet, ligula eget tempor molestie, libero libero sollicitudin dolor, in gravida mauris turpis nec ligula. Pellentesque ut venenatis mauris. Duis id vulputate erat. Suspendisse in elit tellus.
</p><p>
  Quisque eget metus vitae ante tempor porttitor nec et elit. Vestibulum rhoncus accumsan erat. Ut rutrum libero in erat lobortis, dictum congue erat consectetur. Pellentesque sit amet egestas leo. Morbi imperdiet sapien scelerisque tortor auctor convallis. Nam facilisis, sapien sed iaculis egestas, nunc lorem rutrum mi, sed porta nibh lacus volutpat massa. Vivamus enim metus, egestas eu fringilla id, pulvinar vitae tortor. Nulla at viverra neque. Donec tempus nibh semper euismod tincidunt. Proin at luctus est.
</p><p>
  In ultricies ipsum ac venenatis porta. Maecenas iaculis massa nec arcu molestie imperdiet. Phasellus porttitor, augue vitae lobortis sodales, erat ex ullamcorper nunc, eget scelerisque metus mi in lorem. Donec blandit sodales mauris, in fermentum neque lacinia nec. Duis aliquam auctor hendrerit. Integer est ligula, molestie at cursus at, eleifend in augue. Curabitur fringilla metus sit amet ante commodo, nec rhoncus risus volutpat. In hac habitasse platea dictumst. Phasellus fermentum imperdiet tortor at luctus. Aliquam erat volutpat. Proin non urna a turpis venenatis efficitur sit amet ut dolor. Praesent eget nisl elit. Nulla varius blandit sem ac ornare. Pellentesque mollis molestie consectetur. Aliquam laoreet, ante sit amet dignissim interdum, nisl lectus fermentum tellus, sit amet faucibus quam eros ac justo. Duis vitae fringilla eros.
</p><p>
  Ut molestie ultrices massa, maximus sodales dui pretium vitae. Quisque ante ante, dignissim at lacus ac, aliquet elementum mauris. Cras volutpat velit mauris, et viverra ligula bibendum non. Aenean vulputate ullamcorper mattis. Quisque id turpis ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus efficitur a ex vitae efficitur. In a diam diam. Sed dictum arcu nisl, a tristique velit iaculis non. Phasellus venenatis, leo in blandit sodales, justo velit posuere leo, eu vulputate libero ligula id mauris. Nullam at massa vitae justo consequat bibendum. Sed pretium nec ante a tempus. Ut scelerisque hendrerit rutrum.
</p>

<br><br><br>
